html, body {
  height: 100%; // Assure que le body prend toute la hauteur de la page
}

main {
  flex-grow: 1; // Permet au contenu principal de prendre tout l'espace disponible
}

h2 {
  font-family: 'Montserrat', sans-serif; // Change la police du titre
}
