<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- Section about -->
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis
          ligula nec eros bibendum, nec tempor metus venenatis.
        </p>
      </div>

      <!-- Section links -->
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'How It Works', how_it_works_path %></li>
          <li><%= link_to 'Booking', new_booking_path %></li>
          <li><%= link_to 'Contact', contact_path %></li>
        </ul>
      </div>

      <!-- Section contact -->
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <ul class="list-unstyled">
          <li><a href="mailto:info@tomodomo.ch">info@popliving.ch</a></li>
          <li><a href="tel:+41234567890">+41 23 456 78 90</a></li>
          <li><a href="#">Address, City, Country</a></li>
        </ul>
      </div>
    </div>

    <div class="social-icons">
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
    </div>

    <!-- Copyright -->
    <div class="row mt-4">
      <div class="col text-center">
        <p>&copy; 2024 Poplinving. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
