<div class="container-fluid services-section d-flex align-items-center justify-content-center">
  <div class="text-center">
    <h2 class="concept-title"><%= t('concept.services.title') %></h2>
    <div class="row text-center">
      <% ["flexible", "cohabitation", "services", "common_areas", "peaceful"].each do |card| %>
        <div class="col-md-4">
          <div class="service-card p-4">
            <h4><%= t("concept.cards.#{card}.title") %></h4>
            <p><%= t("concept.cards.#{card}.description") %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
