<h1>how it work page</h1>
<p>À qui s’adresse le coliving ? Le coliving s’adresse à ceux qui apprécient vivre avec d'autres et faire partie d'une communauté. Nous partageons notre espace de vie pour créer des liens, échanger des expériences et évoluer ensemble en tant que communauté.
La moyenne d'âge de nos résidents se situe entre 24 et 36 ans. Cependant, nous accueillons aussi bien des personnes plus jeunes que plus âgées, car ce qui compte avant tout, c’est l’état d'esprit et le plaisir de vivre en communauté.
Quelle est la durée minimale de séjour ? Il n'y a pas de durée minimale pour séjourner chez nous. Bien que la majorité de nos résidents restent plusieurs mois, nous proposons également des formules à la semaine ou même pour le week-end, selon les disponibilités.
Y a-t-il des options pour les couples ? Vivre en couple dans une maison de coliving est une expérience enrichissante. Certaines de nos chambres sont donc disponibles pour une occupation double.
Puis-je enregistrer mon adresse de résidence dans votre coliving ? Oui, il est possible d’enregistrer ton adresse de résidence dans notre établissement et de recevoir ton courrier ici. Cependant, l’enregistrement ne peut être effectué avant ta date d’emménagement.
Puis-je venir avec un animal de compagnie ? Non, malheureusement, nous ne pouvons pas accepter d’animaux dans le bâtiment en raison du manque d'espace, des allergies et pour des raisons de propreté.
</p>
