<div class="situation-page">
  <!-- Section avec l'image de fond -->
  <div class="background-image"></div>

  <!-- Conteneur pour le texte par-dessus l'image -->
  <div class="text-container">
    <div class="description-flex-grow">
      <p>
        <%= t('situation.description') %>
      </p>
    </div>
  </div>

  <!-- Section avec la carte Google Maps -->
  <div class="map-container">
    <div id="map" data-controller="google-maps" data-google-maps-target="map"></div>
    <div class="directions">
      <i class="fas fa-directions fa-2x"></i>
    </div>

    <!-- Lien avec l'adresse pour les écrans mobiles -->
    <div class="address-link">
      <a href="https://www.google.com/maps/place/46.64008648981988,7.0617587396999495" target="_blank">
        Route de la Gruyère 45, 1632 Riaz
      </a>
    </div>
  </div>
</div>
