.map-container {
  margin: 0 auto; /* Centre horizontalement */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto; /* Hauteur par défaut */
  padding: 10px; /* Ajoute un espace autour sur desktop */
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ombre douce */

  #map {
    height: 400px; /* Taille par défaut sur les grands écrans */
    width: 100%;
    border-radius: 8px;
  }
}

.address-link {
  display: none; /* Masque l'adresse par défaut */
  font-size: 1.2rem; /* Taille du texte de l'adresse */
  margin-top: 20px;

  a {
    color: #007bff; /* Couleur du lien */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;

    &:hover {
      color: #0056b3; /* Couleur au survol */
    }
  }
}


.directions {
  position: absolute;
  top: 750px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  .fa-directions {
    font-size: 24px;
    color: #898b8e;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: #0056b3;
    }
  }
}
  /* Media query pour mobile */
  @media (max-width: 768px) {
    #map {
      display: none; /* Masque la carte sur mobile */
    }

    .directions{
      display: none;
    }

    .address-link {
      display: block; /* Affiche l'adresse sur mobile */
    }
  }
