.navbar {
  background-color: #fff; /* Fond blanc */
  border-bottom: 1px solid #ddd; /* Bordure fine en bas */
  padding: 1rem 2rem; /* Espacement autour du contenu */
  position: fixed; /* Navbar fixe en haut */
  top: 0;
  width: 100%;
  z-index: 1000; /* Assurez-vous que la navbar soit au-dessus du reste */
  transition: top 0.8s ease;
}

.navbar-hidden {
  top: -100px; /* Cache la navbar en dehors de l'écran */
}

.navbar-brand img {
  height: 40px; /* Taille du logo */
}

.navbar-nav .nav-link {
  font-size: 1rem;
  color: #333; /* Couleur des liens */
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #ff5722; /* Changement de couleur au survol */
}

.btn-primary {
  background-color: #ff5722;
  border-color: #ff5722;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #e64a19;
  border-color: #e64a19;
}

/* Responsive styling */
@media (max-width: 768px) {
  .navbar {
    padding: 0.5rem 1rem;
  }
}
